article {
  width: 700px;
  border: 2px rgb(233, 208, 208);
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

h1 {
  color: rgb(24, 8, 79);
  font-size: 40px;
  text-align: center;
}
h2 {
  text-align: center;
  color: rgb(8, 60, 52);
  background-color: rgb(217, 237, 228);
}
h3 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h3 {
  display: list-item;                                           */
  margin-left : 1em
}
h4{
  color: rgb(63, 41, 92);
}
ul.b {
  list-style-type: square;
}
body { 
  font-family: 'Helvetica';
}

img {
  width: 100%;
  height: auto;
}
.author{
  text-align: right;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}