article {
  width: 700px;
  border: 2px rgb(233, 208, 208);
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
h1 {
  color: rgb(24, 8, 79);
  font-size: 40px;
  text-align: center;
}
h2 {
  text-align: center;
  color: rgb(8, 60, 52);
  background-color: rgb(217, 237, 228);
}
h3 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h3 {
  display: list-item;                                           */
  margin-left : 1em
}
h4{
  color: rgb(63, 41, 92);
}
ul.a {
  list-style-type: circle;
}
ul.b {
  list-style-type: square;
}
body { 
  font-family: 'Helvetica';
}

img {
  width: 100%;
  height: auto;
}
.author{
  text-align: right;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
@media screen and (min-width : 320px) and (max-width : 480px){
  body{
  background-color: white;
  }
}

@media screen and (min-width : 768px) and (max-width : 1024px){
  body{
  background-color: rgb(134, 134, 167);
  }
}

@media screen and (min-width : 1024px){
  body{
  background-color: rgb(192, 237, 192);
  }
}

@media screen and (min-width : 1284px){
  body{
  background-color: rgb(243, 199, 216);
  }
}
